:root {
    --primary-color: #36393b;   
    --secondary-color: #e5B181;
    --background-color: #8ee3ef; 
    --text-color: #bf3100;       
}

body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color); 
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    padding: 20px;
}

.logo {
    width: 150px;
}

/* Navigation Styles */
nav {
    background-color: var(--secondary-color);
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Hero Section Styles */
.hero {
    position: relative;
    text-align: center;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
    font-weight: bold; /* Make the hero image bold */
}

.hero h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    font-weight: bold; 
    font-size: 3em; 
    transform: translateX(-50%);
    background-color: rgba(0, 0 , 0, 0.5);
    padding: 15px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.hero article {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin-top: 10px; /* Adjusted to position directly under the image */
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
}

/* Main Content Styles */
main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Footer Styles */
footer {
    text-align: center;
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    margin-top: 20px;
}

/* Social Links Styles */
.sociallinks {
    display: flex;
    justify-content: center;
}

.sociallinks a {
    margin: 0 10px;
    text-decoration: none;
}

.sociallinks a img {
    display: inline;
}

@media (max-width: 600px) {
    .hero h1 {
        font-size: 2em; /* Adjust font size for small screens */
    }
}
